.worker-container{

padding:30px;

}


.worker-container h1{

text-align:center;

}


.worker-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}



.worker-card{

padding:20px;

border-radius:15px;

box-shadow:0 0 10px #ccc;

background:white;

}



.worker-card span{

background:green;

color:white;

padding:5px 12px;

border-radius:20px;

}